altgraph==0.17.3
charset-normalizer==3.0.1
customtkinter
darkdetect==0.3.1
flatbuffers==23.1.21
libclang==15.0.6.1
normalizer==0.2.1
pyasn1==0.4.8
pytz==2022.7.1
pywin32-ctypes==0.2.0
rsa==4.9
six==1.16.0
tensorboard-data-server==0.7.1
tensorboard-plugin-wit==1.8.1
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
tk==0.1.0
typing_extensions==4.4.0
urllib3==1.26.16
wrapt==1.14.1
